<div class="card-header">

</div>
<hr>

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-12">
            <input name="ctl00$ArMainContent$UcBranches$TxtSearch" type="search" id="ArMainContent_UcBranches_TxtSearch"
                class="form-control spinner input-circle " onkeyup="Search_Gridprod(this,'TxtSearch','GrdView')"
                [placeholder]="'INITIALIZATION.POWERS_TEMPLATES.SEARCHPLACEHOLDER' | translate">
        </div>
    </div>
    <div class="form-group row mt-10">
        <div class="col-md-12">
            <div class="table-responsive">
                <div>
                    <table class="mGrid" cellspacing="0" rules="all" id="ArMainContent_UcBranches_GrdView"
                        style="width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr class="m-5">
                                <th scope="col" translate="CLIENTS.ORDER_NUMBER"></th>
                                <th scope="col" translate="CLIENTS.DATE_OF_APPLICATION"></th>
                                <th scope="col" translate="CLIENTS.CLIENT"></th>
                                <th scope="col" translate="CLIENTS.ORDER_RECEIVING_EMPLOYEE"></th>
                                <th scope="col" translate="CLIENTS.QUANTITY"></th>
                                <th scope="col" translate="CLIENTS.COMMENTS"> </th>
                                <th scope="col" translate="CLIENTS.ORDER_STATUS"> </th>
                                <th scope="col" translate="CLIENTS.OPTIONS"></th>
                            </tr>
                            <br>

                            <tr class="m-5">
                                <td align="center" translate="CLIENTS.NO_DATA">

                                </td>
                               
                                
                                <td>
                                   
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>

                                <td>
                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>