<div class="card-toolbar">
    <a class=" mb-4 btn btn-primary btn-shadow font-weight-bold mr-2" routerLink="/employees/employeeDetails"
        routerLinkActive="active" translate="STAFF.STAFF_MANAGEMENT.NEW">
        <i class="fa-regular fa-square-plus  mx-2"></i> </a>
</div>

<hr>

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-12">
            <input name="ctl00$ArMainContent$UcBranches$TxtSearch" type="search" id="ArMainContent_UcBranches_TxtSearch"
                class="form-control spinner input-circle " onkeyup="Search_Gridprod(this,'TxtSearch','GrdView')"
                [placeholder]="'INITIALIZATION.POWERS_TEMPLATES.SEARCHPLACEHOLDER' | translate">
        </div>
    </div>
    <div class="form-group row mt-10">
        <div class="col-md-12">
            <div class="table-responsive">
                <div>
                    <table class="mGrid" cellspacing="0" rules="all" id="ArMainContent_UcBranches_GrdView"
                        style="width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr class="m-5">
                                <th scope="col" style="width:2%;" translate="INITIALIZATION.BRANCH.CODE"></th>
                                <th scope="col" translate="STAFF.STAFF_MANAGEMENT.EMPLOYEE"></th>
                                <th scope="col" translate="STAFF.STAFF_MANAGEMENT.MOB"></th>
                                <th scope="col" translate="STAFF.STAFF_MANAGEMENT.ACCESS"></th>
                                <th scope="col" translate="STAFF.STAFF_MANAGEMENT.STATUS"></th>
                                <th scope="col" translate="INITIALIZATION.BRANCH.OPTIONS"></th>
                            </tr>
                            <br>

                            <tr class="m-5">
                                <td align="center">
                                    <!-- <span id="ArMainContent_UcBranches_GrdView_GrdSerial_0">{{i+1}}</span> -->
                                </td>
                                محمد
                                <br>
                                الرئيسي
                                <td>
                                    01000
                                </td>
                                <td>
                                    مدير فرع
                                </td>
                                <td class=" d-flex">
                                    <span class="label label-light-primary d-flex p-3 rounded-3">
                                        فــعـــال
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                                        data-action="edit" data-id="259">
                                        <i class="ki-duotone ki-pencil fs-3"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    </button>
                                    <button class="btn btn-icon btn-active-light-primary w-30px h-30px"
                                        data-action="delete" data-id="259">
                                        <i class="ki-duotone ki-trash fs-3">
                                            <span class="path1"></span><span class="path2"></span>
                                            <span class="path3"></span><span class="path4"></span><span
                                                class="path5"></span>
                                        </i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="m-5">
                                <td align="center">
                                    <!-- <span id="ArMainContent_UcBranches_GrdView_GrdSerial_0">{{i+1}}</span> -->
                                </td>
                                محمد
                                <br>
                                مدير النظام
                                <td>

                                </td>
                                <td>
                                    مدير عام الشركة
                                </td>
                                <td class=" d-flex">
                                    <span class="label label-light-primary d-flex p-3 rounded-3">
                                        فــعـــال
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                                        data-action="edit" data-id="259">
                                        <i class="ki-duotone ki-pencil fs-3"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    </button>
                                    <button class="btn btn-icon btn-active-light-primary w-30px h-30px"
                                        data-action="delete" data-id="259">
                                        <i class="ki-duotone ki-trash fs-3">
                                            <span class="path1"></span><span class="path2"></span>
                                            <span class="path3"></span><span class="path4"></span><span
                                                class="path5"></span>
                                        </i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>