<ng-template #modal>

    <div class="modal-content">
        <div class="page-loading-enabled page-loading">
            <div id="ArMainContent_Uc_Treasury_Acc_LoaderProgress" style="display:none;" role="status" aria-hidden="true">
    
                    <div class="page-loader page-loader-logo">
                        <img alt="Logo" class="max-h-75px" src="App_Themes/syslogo.png">
                        <div class="spinner spinner-primary"></div>
                    </div>
                
    </div>
        </div>
        <div class="modal-header">
            <h5 id="ArMainContent_UcBranches_modaladd" class="modal-title" translate="INITIALIZATION.REASONS.ADDITION">
            </h5>
           
            <i class="fa-solid fa-xmark" (click)="dismiss()"></i>
    
        </div>
        <div id="ArMainContent_Uc_Treasury_Acc_modaladdedit" class="modal-body" style="display:block;">
            <div class="form-group row">
                <div class="col-md-4 ">
                    <label class="text-dark" translate="INITIALIZATION.REASONS.BRANCH_CODE"></label>
                    <input name="ctl00$ArMainContent$Uc_Treasury_Acc$Txt_ID" type="text" id="ArMainContent_Uc_Treasury_Acc_Txt_ID" class="form-control " disabled="disabled" value="2">
                </div>
                <div class="col-md-8">
                    <div class="bg-light-dark py-1 px-4" style="margin-top:26px">
                        <div class="checkbox-inline">
                            <label class="checkbox checkbox-lg m-2">
                                <input class="mx-1" name="ctl00$ArMainContent$Uc_Treasury_Acc$Chk_Is_Default" type="checkbox" id="ArMainContent_Uc_Treasury_Acc_Chk_Is_Default">
                                <span translate="ACCOUNTS.PRIMARY"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12 my-3">
                    <label class="text-dark" translate="ACCOUNTS.ACCOUNT_TYPE"></label>
    
                    <div class="card d-flex justify-content-center">
                        <p-dropdown 
                            [options]="branchList" 
                            [(ngModel)]="selectedBranch" 
                            optionLabel="name"
                            [style]="{ 'width': '100%' }" 
                            [filter]="true" 
                            filterBy="name" 
                            [showClear]="true"
                            [placeholder]="'DROPDOWN.CHOOSE' | translate">
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="d-flex align-items-center gap-2">
                                    <div>{{ selectedOption.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-branch pTemplate="item">
                                <div class="d-flex align-items-center gap-2">
                                    <div>{{ branch.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>            </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12 my-2">
                    <label class="text-dark" translate="ACCOUNTS.BRANCH"></label>
                    <div class="card d-flex justify-content-center">
                        <p-dropdown 
                            [options]="branchList" 
                            [(ngModel)]="selectedBranch" 
                            optionLabel="name"
                            [style]="{ 'width': '100%' }" 
                            [filter]="true" 
                            filterBy="name" 
                            [showClear]="true"
                            [placeholder]="'DROPDOWN.CHOOSE' | translate">
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="d-flex align-items-center gap-2">
                                    <div>{{ selectedOption.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-branch pTemplate="item">
                                <div class="d-flex align-items-center gap-2">
                                    <div>{{ branch.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div> </div>
            </div>
            <div class="form-group row my_3">
                <div class="col-md-12 my-2">
                    <label class="text-dark"translate="ACCOUNTS.ACCOUNT_NAME"> </label>
                    <input name="ctl00$ArMainContent$Uc_Treasury_Acc$Txt_Ar_Nm" type="text" id="ArMainContent_Uc_Treasury_Acc_Txt_Ar_Nm" class="form-control "  [placeholder]="'ACCOUNTS.ACCOUNT_NAME' | translate">
                    <span id="ArMainContent_Uc_Treasury_Acc_ReqTxt_Ar_Nm" style="color:Red;display:none;">من فضلك ادخل اسم الحساب</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12 my-2">
                    <label class="text-dark" class="text-dark" for="Txt_National_No" translate="ACCOUNTS.ACCOUNT_NUMBER"> </label>
                    <input name="ctl00$ArMainContent$Uc_Treasury_Acc$Txt_Acc_No" type="text" id="ArMainContent_Uc_Treasury_Acc_Txt_Acc_No" onkeypress="return CheckNumericKeyInfo(event.keyCode, event.which)" class="form-control "  [placeholder]="'ACCOUNTS.ACCOUNT_NUMBER' | translate">
                </div>
            </div>
        </div>
        <div id="ArMainContent_Uc_Treasury_Acc_modaldelete" class="modal-body" style="display:none;">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="alert alert-custom alert-outline-danger fade show mb-5" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning"></i></div>
                        <div id="ArMainContent_Uc_Treasury_Acc_RemovAlert" class="alert-text"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ArMainContent_UcBranches_modaladdfotr" class="modal-footer" style="display:block;">
            <a onclick="BtnClick();" id="ArMainContent_UcBranches_LnkSave" class="btn btn-primary font-weight-bold"
                href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ArMainContent$UcBranches$LnkSave&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))"
                translate="INITIALIZATION.POWERS_TEMPLATES.SAVE"></a>
            <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal" (click)="dismiss()"
                translate="INITIALIZATION.POWERS_TEMPLATES.CANCELLATION"></button>
        </div>
    </div>
    </ng-template>