<!-- <form class=" form w-75 m-auto " [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
  (ngSubmit)="submit()">

  <div class="row g-3 mb-9 mt-15 ">
    <div class="col-md-12">
      <div class=" fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-dark" translate="AUTH.INPUT.EMAIL"></label>
        <input class="form-control bg-transparent" type="userName" name="userName" formControlName="user_Name"
          autocomplete="off" [ngClass]="{
            'is-invalid': loginForm.controls['user_Name'].invalid,
            'is-valid': loginForm.controls['user_Name'].valid
          }" />
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'AUTH.LOGIN.REQUIRED_NAME' | translate ,
        control: loginForm.controls['user_Name']
    }"></ng-container>
      </div>
    </div>
    <div class="col-md-12">
      <div class=" fv-row mb-3">
        <label class="form-label fw-bolder text-dark fs-6 mb-0" translate="AUTH.INPUT.PASSWORD"></label>
        <input class="form-control bg-transparent" type="password" name="user_Pass" autocomplete="off"
          formControlName="user_Pass" [ngClass]="{
            'is-invalid': loginForm.controls['user_Pass'].invalid,
            'is-valid': loginForm.controls['user_Pass'].valid
          }" />
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'AUTH.LOGIN.REQUIRED_PASS' | translate ,
        control: loginForm.controls['user_Pass']
    }"></ng-container>
      </div>
    </div>
  </div>

  <div class="d-grid mb-10 mt-10">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-dark" translate="AUTH.LOGIN.TITLE">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'" translate="AUTH.LOGIN.WAIT">
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
      </ng-container>
    </button>
  </div>
</form>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template> -->





<form class="form w-75 m-auto" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form" (ngSubmit)="submit()">

  <div class="row g-3 mb-9 mt-15">
    <div class="col-md-12">
      <div class="fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-dark" translate="AUTH.INPUT.EMAIL"></label>
        <input class="form-control bg-transparent" type="userName" name="userName" formControlName="user_Name"
          autocomplete="off" [ngClass]="{
            'is-invalid': loginForm.controls['user_Name'].invalid,
            'is-valid': loginForm.controls['user_Name'].valid
          }" />
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.LOGIN.REQUIRED_NAME' | translate ,
          control: loginForm.controls['user_Name']
        }"></ng-container>
      </div>
    </div>
    <div class="col-md-12">
      <div class="fv-row mb-3">
        <label class="form-label fw-bolder text-dark fs-6 mb-0" translate="AUTH.INPUT.PASSWORD"></label>
        <input class="form-control bg-transparent" type="password" name="user_Pass" autocomplete="off"
          formControlName="user_Pass" [ngClass]="{
            'is-invalid': loginForm.controls['user_Pass'].invalid,
            'is-valid': loginForm.controls['user_Pass'].valid
          }" />
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.LOGIN.REQUIRED_PASS' | translate ,
          control: loginForm.controls['user_Pass']
        }"></ng-container>
      </div>
    </div>
  </div>

  <div class="d-grid mb-10 mt-10">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-dark" translate="AUTH.LOGIN.TITLE" [disabled]="loginForm.invalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'" translate="AUTH.LOGIN.WAIT">
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
      </ng-container>
    </button>

    <!-- <div id="toastr-notifications" class="alert alert-danger mt-4 text-center" role="alert" [style.display]="hasError ? 'block' : 'none'">
      {{ 'AUTH.LOGIN.ERROR' | translate }}
    </div> -->
    
  </div>
 
</form>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
