
  
  .toast-error .toast-message {
    color: #ffffff; /* نص أبيض */
    font-size: 16px; 
  }
  
  .toast-close-button {
    color: #d11212 !important;
  }
  
  .toast-progress {
    background: #ffffff !important; 
  }
  .toastr-notifications {
    background-color: red !important;
    color: white !important;
  }
  