<div class="container-fluid">
    <!--begin::Dashboard-->
    <span id="MasterPanel">
        <span id="TimrNoti" style="visibility:hidden;display:none;"></span>

        <div class="page-loading-enabled page-loading">
            <div id="ArMainContent_LoaderProgress" style="display: none;" role="status" aria-hidden="true">

                <div class="page-loader page-loader-logo">
                    <img alt="Logo" class="max-h-75px" src="App_Themes/syslogo.png">
                    <div class="spinner spinner-primary"></div>
                </div>

            </div>
        </div>

        <div class="card card-custom ">
            <div class="card-header">
                <div class="card-toolbar">
                    <a id="ArMainContent_Uc_Payment_Permission_LnkAddModal" translate="ACCOUNTS.NEW_TRANSFER_PERMISSION" routerLink="/exchangeacc/exchangeAccDtls"
                        class="btn btn-primary btn-shadow font-weight-bold mr-2"
                        href="javascript:__doPostBack('ctl00$ArMainContent$Uc_Payment_Permission$LnkAddModal','')"><i class="fa-regular fa-square-plus mx-1"></i></a>
                </div>
                <div class="card-title">
                    <span id="ArMainContent_Uc_Payment_Permission_idkeygrid" style="display: none"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <input name="ctl00$ArMainContent$UcBranches$TxtSearch" type="search" id="ArMainContent_UcBranches_TxtSearch"
                            class="form-control spinner input-circle " onkeyup="Search_Gridprod(this,'TxtSearch','GrdView')"
                            [placeholder]="'INITIALIZATION.POWERS_TEMPLATES.SEARCHPLACEHOLDER' | translate">
                    </div>
                </div>
                <div class="form-group row mt-10">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div>
                                <table class="mGrid" cellspacing="0" rules="all" 
                                id="ArMainContent_Uc_Create_Payment_Invoice_GrdViewDtls"
                                style="width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr class="m-5">
                                           
                                            <th scope="col" translate="ACCOUNTS.TRANSFER_AUTHORIZATION_NUMBER"></th>
                                            <th scope="col" translate="ACCOUNTS.BY_EMPLOYEE"></th>
                                            <th scope="col" translate="ACCOUNTS.DATE_OF_TRANSFER_AUTHORIZATION"></th>
                                            <th scope="col" translate="ACCOUNTS.TRANSFER_FROM_ACCOUNT"></th>
                                            <th scope="col" translate="ACCOUNTS.TRANSFER_TO_ACCOUNT"></th>
                                            <th scope="col" translate="ACCOUNTS.PINNACLE_OF_CONVERSION"></th>
                                            <th scope="col" translate="ACCOUNTS.REASON_FOR_TRANSFER"></th>
                                            
                                            <th scope="col" translate="INITIALIZATION.BRANCH.OPTIONS"></th>
                                        </tr>
                                        <br>
                                        <tr class="m-5">
                                           


                                            <td translate="CLIENTS.NO_DATA">

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>

                                            <td>

                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
       


    </span>
</div>

<app-add-exchange-permit #modalAddExchange [modalConfig]="addExchangeConfig"></app-add-exchange-permit>
